<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljq.blog.mapper.BlogTBlogfileMapper">
	<!-- 开启这个mapper所述namespace的二级缓存,使用ehcache -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />

	<resultMap id="BaseResultMap" type="com.ljq.blog.po.BlogTBlogfile">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="blogid" property="blogid" jdbcType="VARCHAR" />
		<result column="filepath" property="filepath" jdbcType="VARCHAR" />
		<result column="classify" property="classify" jdbcType="CHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, blogid, filepath, classify
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.ljq.blog.po.BlogTBlogfileExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from blog_t_blogfile
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from blog_t_blogfile
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from blog_t_blogfile
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.ljq.blog.po.BlogTBlogfileExample">
		delete from blog_t_blogfile
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.ljq.blog.po.BlogTBlogfile">
		insert into blog_t_blogfile (id, blogid, filepath,
		classify)
		values (#{id,jdbcType=INTEGER}, #{blogid,jdbcType=VARCHAR},
		#{filepath,jdbcType=VARCHAR},
		#{classify,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ljq.blog.po.BlogTBlogfile">
		insert into blog_t_blogfile
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="blogid != null">
				blogid,
			</if>
			<if test="filepath != null">
				filepath,
			</if>
			<if test="classify != null">
				classify,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="blogid != null">
				#{blogid,jdbcType=VARCHAR},
			</if>
			<if test="filepath != null">
				#{filepath,jdbcType=VARCHAR},
			</if>
			<if test="classify != null">
				#{classify,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.ljq.blog.po.BlogTBlogfileExample"
		resultType="java.lang.Integer">
		select count(*) from blog_t_blogfile
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update blog_t_blogfile
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.blogid != null">
				blogid = #{record.blogid,jdbcType=VARCHAR},
			</if>
			<if test="record.filepath != null">
				filepath = #{record.filepath,jdbcType=VARCHAR},
			</if>
			<if test="record.classify != null">
				classify = #{record.classify,jdbcType=CHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update blog_t_blogfile
		set id = #{record.id,jdbcType=INTEGER},
		blogid = #{record.blogid,jdbcType=VARCHAR},
		filepath = #{record.filepath,jdbcType=VARCHAR},
		classify = #{record.classify,jdbcType=CHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.ljq.blog.po.BlogTBlogfile">
		update blog_t_blogfile
		<set>
			<if test="blogid != null">
				blogid = #{blogid,jdbcType=VARCHAR},
			</if>
			<if test="filepath != null">
				filepath = #{filepath,jdbcType=VARCHAR},
			</if>
			<if test="classify != null">
				classify = #{classify,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ljq.blog.po.BlogTBlogfile">
		update blog_t_blogfile
		set blogid = #{blogid,jdbcType=VARCHAR},
		filepath = #{filepath,jdbcType=VARCHAR},
		classify = #{classify,jdbcType=CHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>